<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7592477067627618"
     crossorigin="anonymous"></script>
  	<title>Aren Fansub</title>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#14bae4">
    <meta content="assets/profile.jpg" property="og:image" />
    <link rel="icon" type="image/x-icon" href="https://cdn3.iconfinder.com/data/icons/inficons/512/github.png">
    <meta content="AlprSlcks Blog" property="og:title" />
    <meta content="AlprSlcks Blog" property="og:description" />
    <meta contant="AlprSlcks Blog" name="description " />
    <meta name="revisit-after" content="2 days">
    <meta property="og:locale" content="tr_TR" />
    <link rel="canonical" href="https://www.arenfansub.tk" />
    <meta property="og:url" content="https://www.arenfansub.tk" />
    <meta property="og:site_name" content="Aren" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@arenfansub" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css">

</head>

<style>
@font-face { font-family: roboto-regular; 
			 src: url(''); } 
body{
	font-family: roboto-regular;
  font-size: 20px;
    background-color: #333;
}
</style>
<body>
</nav>
  
  <div class="bosluk">
    
  </div>
  


  <div class="container">
<div class="row row-cols-1">
   <% ürünler.forEach(function(x) { %>
  <div class="col-sm-4">    
    <div class="card">
      <img src="<%- x.ürün_resim %>" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Selam Mesajlaşma</h5>
        <a href="https://alprslcks.github.io/Selamweb/" class="btn btn-primary">Gör</a>
      </div>
    </div>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7592477067627618"
     crossorigin="anonymous"></script>
      
      <div class="bosluk">
        
         <div style="height: 100px;">
        
      </div>
        
        
    
  </div>
  </div>  
  
  <% }); %>

</div>

</div>
</body>
